.form {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
  
    h1 {
      font-weight: bold;
      color: black;
    }
  
    p {
      color: #F2877D;
    }
  
    a {
      color: orange;
      text-decoration: none;
      margin-right: 10px;
    }
  
    .button-links {
      .google-button,
      .facebook-button {
        display: inline-block;
        width: calc(50% - 5px);
        text-align: left;
        margin-bottom: 10px;
      }
    }
  
    h2 {
      margin: 15px 0;
    }
  
    .input-fields {
      .input-group {
        margin-bottom: 15px;
  
        p {
          margin-bottom: 5px;
          font-weight: bold;
        }
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }
  
    button {
      background-color: #F2877D;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }
  }
  