body {
  font-family: 'Poppins', sans-serif;
}
.form_container {
  display: flex;
  width: 1100px;
  height: 100%;
  border: 5px solid #F2877D;
  border-radius: 10px;
}

.picture {
  flex-grow: 1;
  height: 100%;
  object-fit: contain;
  border-radius: 10px 0 0 10px;
  margin: 0;
}

.form {
  flex-grow: 1;
  min-width: 300px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
}

